# Experimento 1

In [1]:
import numpy as np
import pandas as pd
from pydvl.reporting.plots import plot_shapley
from pydvl.utils.dataset import GroupedDataset, load_spotify_dataset
from pydvl.value import *

/home/franaguilar/anaconda3/envs/TFM/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## Experimento 1a)
### Detalles del experimento
Compararemos el estimador simple de Montecarlo y el MSR estimator para aproximar el valor de Banzah. Para poder estimar de forma exacta el error de aproximación de ambos estimadores, usaremos un dataset sintético compuesto únicamente por 10 puntos, lo que nos permitirá calcular de forma exacta el valor de Banzhaf.

Usaremos como **función de utilidad** la precisión en validación de una regresión logística entrenada con descenso de gradiente con batch completo. Esto nos permite eliminar la aleatoreidad en el entrenamiento, por lo que la aleatoreidad provendrá únicamente del muestreo aleatorio del algoritmo de estimación.

#### Construcción del dataset sintético

In [2]:
# Fijamos la semilla
rng = np.random.default_rng(seed=123)

# Construcción del df
mean = [0.1, -0.1]
cov = [[1,0],[0,1]]

x1, x2 = rng.multivariate_normal(mean, cov, 10).T
y = np.sign(x1+x2).astype(int)

pd.DataFrame({'x1': x1,'x2': x2,'target':y})

         x1        x2  target
0 -0.889121 -0.467787      -1
1  1.387925  0.093974       1
2  1.020231  0.477104       1
3 -0.536464  0.441952      -1
4 -0.216595 -0.422389      -1
5  0.197167 -1.625930      -1
6  1.292166 -0.771090       1
7  1.100269  0.036321       1
8  1.632033 -0.759969       1
9 -0.211795  0.237769       1

#### Construcción de la utilidad